@import '../vars'
@import '../basic'

@import 'entries/power-on.styl'
@import 'entries/power-off.styl'
@import 'entries/bounce-in.styl'
@import 'entries/bounce-out.styl'
@import 'entries/jump-in.styl'
@import 'entries/jump-out.styl'
@import 'entries/jump-alt-in.styl'
@import 'entries/jump-alt-out.styl'
@import 'entries/zoom-in.styl'
@import 'entries/zoom-out.styl'

@import 'entries/grow.styl'
@import 'entries/flip-h.styl'
@import 'entries/flip-v.styl'
@import 'entries/float-up-in.styl'
@import 'entries/float-down-in.styl'
@import 'entries/float-left-in.styl'
@import 'entries/float-right-in.styl'
@import 'entries/slide-left-in.styl'
@import 'entries/slide-right-in.styl'
@import 'entries/slide-top-in.styl'
@import 'entries/slide-bottom-in.styl'
@import 'entries/slide-left-out.styl'
@import 'entries/slide-right-out.styl'
@import 'entries/slide-top-out.styl'
@import 'entries/slide-bottom-out.styl'
@import 'entries/blur-in.styl'
@import 'entries/blur-out.styl'
@import 'entries/rush-left-in.styl'
@import 'entries/rush-right-in.styl'
@import 'entries/fall-in.styl'
@import 'entries/throw-in.styl'
@import 'entries/vortex-in.styl'
@import 'entries/vortex-out.styl'

@import 'entries/float-px-up-in.styl'
@import 'entries/float-px-down-in.styl'
@import 'entries/float-px-left-in.styl'
@import 'entries/float-px-right-in.styl'

@import 'entries/slide-px-left-in.styl'
@import 'entries/slide-px-right-in.styl'
@import 'entries/slide-px-top-in.styl'
@import 'entries/slide-px-bottom-in.styl'
@import 'entries/slide-px-left-out.styl'
@import 'entries/slide-px-right-out.styl'
@import 'entries/slide-px-top-out.styl'
@import 'entries/slide-px-bottom-out.styl'

@import 'entries/rush-px-left-in.styl'
@import 'entries/rush-px-right-in.styl'
@import 'entries/fall-px-in.styl'
@import 'entries/throw-px-in.styl'


//- for these transition we keep a all-in-one file
//- while also split them into standalone files.
//- TODO: auto merge and optimize standalone files
@import 'entries/fade.styl'
@import 'entries/grow.styl'

.infinite
  animation-iteration-count: infinite
