@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-bounce-in)
  0%
    transform: scale(0)
  5%
    transform: scale(0.0846)
  6%
    transform: scale(0.191)
  7%
    transform: scale(0.3255)
  8%
    transform: scale(0.4804)
  9%
    transform: scale(0.646)
  10%
    transform: scale(0.8116)
  11%
    transform: scale(0.9665)
  12%
    transform: scale(1.1)
  13%
    transform: scale(1.2069)
  14%
    transform: scale(1.2796)
  19%
    transform: scale(1.1558)
  20%
    transform: scale(1.07)
  21%
    transform: scale(0.9823)
  22%
    transform: scale(0.901)
  23%
    transform: scale(0.8328)
  25%
    transform: scale(0.7551)
  29%
    transform: scale(0.8516)
  31%
    transform: scale(0.973)
  33%
    transform: scale(1.0857)
  35%
    transform: scale(1.1538)
  40%
    transform: scale(1.0771)
  42%
    transform: scale(0.9954)
  45%
    transform: scale(0.9057)
  52%
    transform: scale(0.9908)
  56%
    transform: scale(1.0623)
  64%
    transform: scale(0.9845)
  100%
    transform: scale(1)

.ldt-bounce-in
  transform: scale(0)
  animation(ldt-bounce-in 1s ease-out forwards)
