@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-bounce-out)
  0%
    transform: scale(1)
  5%
    transform: scale(0.8509)
  6%
    transform: scale(0.6903)
  7%
    transform: scale(0.5201)
  8%
    transform: scale(0.3568)
  9%
    transform: scale(0.2158)
  10%
    transform: scale(0.1095)
  11%
    transform: scale(0.0452)
  15%
    transform: scale(0.1568)
  16%
    transform: scale(0.2268)
  17%
    transform: scale(0.288)
  19%
    transform: scale(0.3481)
  22%
    transform: scale(0.2549)
  23%
    transform: scale(0.1947)
  24%
    transform: scale(0.1346)
  25%
    transform: scale(0.0831)
  27%
    transform: scale(0.0299)
  30%
    transform: scale(0.0845)
  32%
    transform: scale(0.1599)
  35%
    transform: scale(0.2151)
  38%
    transform: scale(0.1603)
  40%
    transform: scale(0.101)
  73%
    transform: scale(0.0506)
  100%
    transform: scale(0)

.ldt-bounce-out
  transform: scale(1)
  animation(ldt-bounce-out 1s ease-out forwards)
