@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-fall-px-in)
  0%, 35%, 59%, 75%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  18%, 47%, 67%, 80%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    opacity: 0
    transform: translate(0,-100px)
  18%
    opacity: 1
    transform: translate(0,-0px)
  35%
    transform: translate(0,-46px)
  47%
    transform: translate(0,-0px)
  59%
    transform: translate(0,-20px)
  67%
    transform: translate(0,-0px)
  75%
    transform: translate(0,-10px)
  80%
    transform: translate(0,-0px)
  100%
    opacity: 1
    transform: translate(0,0)

.ldt-fall-px-in
  transform: translate(0,-100px)
  opacity: 0
  animation(ldt-fall-px-in 1s forwards)

