@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-flip-h)
  0%
    transform: rotateX(90deg)
  100%
    transform: rotateX(0deg)

.ldt-flip-h
  transform: rotateX(90deg)
  perspective: 500px
  animation(ldt-flip-h 1s cubic-bezier(0,0.5,0.5,1) forwards)
