@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-float-px-up-in)
  0%
    opacity: 0
    transform: translate(0,30px)
  50%
    opacity: 1
  100%
    opacity: 1
    transform: translate(0,0)

.ldt-float-px-up-in
  transform: translate(0,30px)
  opacity: 0
  animation(ldt-float-px-up-in 1s forwards)

