@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-grow-v)
  0%
    transform: scale(1,0)
  100%
    transform: scale(1,1)

.ldt-grow-btt
  transform: scale(1,0)
  animation(ldt-grow-v 1s cubic-bezier(0,0.5,0.5,1) forwards)
  transform-origin: 50% 100%!important
