@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-jump-in)
  0%
    transform: scale(0.068)
  5%
    transform: scale(0.134)
  7%
    transform: scale(0.1978)
  9%
    transform: scale(0.2986)
  10%
    transform: scale(0.3633)
  11%
    transform: scale(0.4369)
  12%
    transform: scale(0.5185)
  13%
    transform: scale(0.6068)
  14%
    transform: scale(0.7)
  15%
    transform: scale(0.7967)
  16%
    transform: scale(0.894)
  17%
    transform: scale(0.99)
  18%
    transform: scale(0.918)
  19%
    transform: scale(0.8323)
  20%
    transform: scale(0.7552)
  21%
    transform: scale(0.689)
  22%
    transform: scale(0.6354)
  24%
    transform: scale(0.5717)
  28%
    transform: scale(0.6267)
  29%
    transform: scale(0.6738)
  30%
    transform: scale(0.7306)
  31%
    transform: scale(0.7944)
  32%
    transform: scale(0.8624)
  33%
    transform: scale(0.9315)
  34%
    transform: scale(0.9988)
  35%
    transform: scale(0.9386)
  36%
    transform: scale(0.8833)
  38%
    transform: scale(0.8027)
  45%
    transform: scale(0.8785)
  47%
    transform: scale(0.961)
  51%
    transform: scale(0.9089)
  59%
    transform: scale(0.9696)
  100%
    transform: scale(1)

.ldt-jump-in
  transform: scale(0.068)
  animation(ldt-jump-in 1s ease-out forwards)
