@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-jump-out)
  0%, 45%, 72%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  23%, 59%, 80%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: scale(1)
  23%
    transform: scale(0)
  45%
    transform: scale(0.36)
  59%
    transform: scale(0)
  72%
    transform: scale(0.12)
  80%
    transform: scale(0)
  100%
    transform: scale(0)

.ldt-jump-out
  transform: scale(1)
  animation(ldt-jump-out 1s forwards)
