@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-jump-in)
  0%, 45%, 72%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  23%, 59%, 80%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    opacity: 0
    transform: scale(0)
  1%
    opacity: 1
    transform: scale(0)
  23%
    transform: scale(1)
  45%
    transform: scale(0.64)
  59%
    transform: scale(1)
  72%
    transform: scale(0.88)
  80%
    transform: scale(1)
  100%
    transform: scale(1)
    opacity: 1

.ldt-jump-in
  opacity: 0
  transform: scale(0)
  animation(ldt-jump-in 1s forwards)
