@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-jump-alt-out)
  0%, 23%, 41%, 54%, 65%, 73%, 80%, 85%, 89%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  11%, 32%, 48%, 60%, 69%, 77%, 82%, 87%, 90%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: scale(1)
  11%
    transform: scale(0)
  23%
    transform: scale(0.6)
  32%
    transform: scale(0)
  41%
    transform: scale(0.36)
  48%
    transform: scale(0)
  54%
    transform: scale(0.22)
  60%
    transform: scale(0)
  65%
    transform: scale(0.12)
  69%
    transform: scale(0)
  73%
    transform: scale(0.08)
  77%
    transform: scale(0)
  80%
    transform: scale(0.04)
  82%
    transform: scale(0)
  85%
    transform: scale(0.02)
  87%
    transform: scale(0)
  89%
    transform: scale(0.02)
  90%
    transform: scale(0)
  100%
    transform: scale(0)

.ldt-jump-alt-out
  transform: scale(1)
  animation(ldt-jump-alt-out 1s forwards)
