@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-jump-alt-in)
  0%, 23%, 41%, 54%, 65%, 73%, 80%, 85%, 89%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  11%, 32%, 48%, 60%, 69%, 77%, 82%, 87%, 90%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: scale(0)
  11%
    transform: scale(1)
  23%
    transform: scale(0.4)
  32%
    transform: scale(1)
  41%
    transform: scale(0.64)
  48%
    transform: scale(1)
  54%
    transform: scale(0.78)
  60%
    transform: scale(1)
  65%
    transform: scale(0.88)
  69%
    transform: scale(1)
  73%
    transform: scale(0.92)
  77%
    transform: scale(1)
  80%
    transform: scale(0.96)
  82%
    transform: scale(1)
  85%
    transform: scale(0.98)
  87%
    transform: scale(1)
  89%
    transform: scale(0.98)
  90%
    transform: scale(1)
  100%
    transform: scale(1)

.ldt-jump-alt-in
  transform: scale(0)
  animation(ldt-jump-alt-in 1s forwards)
