@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-rush-right-in)
  0%
    transform: translate(200%,0) skewX(-45deg)
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  38%
    transform: translate(-40%,0) skewX(35deg)
  56%
    transform: translate(20%,0) skewX(-12deg)
  75%
    transform: translate(-10%,0) skewX(7deg)
  100%
    transform: translate(0%,0) skewX(0deg)

.ldt-rush-right-in
  transform: translate(200%,0) skewX(-45deg)
  animation(ldt-rush-right-in 1s linear forwards)


