@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-slide-px-top-in)
  0%
    transform: translate(0,-200px)
    opacity: 0
  50%
    opacity: 1
  100%
    transform: translate(0,0)
    opacity: 1
.ldt-slide-px-top-in
  transform: translate(0,-200px)
  opacity: 0
  animation(ldt-slide-px-top-in 1s cubic-bezier(0,0.5,0.5,1) forwards)
