@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-throw-in)
  0%, 50%
    animation-timing-function: cubic-bezier(0,0.5,0.5,1)
  30%, 70%
    animation-timing-function: cubic-bezier(0.5,0,1,0.5)
  0%
    transform: translate(0,100%)
  30%
    transform: translate(0,-34%)
  50%
    transform: translate(0,0%)
  70%
    transform: translate(0,-13%)
  80%
    transform: translate(0,0)
  100%
    transform: translate(0,0)


.ldt-throw-in
  animation(ldt-throw-in 1s linear forwards)
