@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ldt-vortex-in)
  0%
    transform: rotate(1800deg) scale(3)
    opacity: 0
  90%
    transform: rotate(0deg) scale(1)
    opacity: 1
  100%
    transform: rotate(0deg) scale(1)
    opacity: 1

.ld.ldt-vortex-in
  animation(ldt-vortex-in 1s infinite)
  animation-timing-function: cubic-bezier(.3,0,1,.7)
